# Copyright (c) 2020 SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

images:
- name: quay.io/coreos/kube-state-metrics
  newName: registry.sighup.io/fury/coreos/kube-state-metrics
  newTag: v1.9.7

resources:
  - dashboards
  - deploy.yml
  - rbac.yml
  - sm.yml
