# Copyright (c) 2020 SIGHUP s.r.l All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: grafana
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: dashboard-sidecar
          image: kiwigrid/k8s-sidecar
          env:
            - name: LABEL
              value: "grafana-sighup-dashboard"
            - name: FOLDER
              value: /tmp/dashboards
            - name: RESOURCE
              # configmap and secret
              value: both
            - name: NAMESPACE
              value: "ALL"
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 50m
              memory: 50Mi
          volumeMounts:
            - name: grafana-shared-dashboards
              mountPath: /tmp/dashboards
        - image: grafana/grafana
          name: grafana
          env:
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_DISABLE_LOGIN_FORM
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ORG_ROLE
              value: "Admin"
          ports:
            - containerPort: 3000
              name: http
          readinessProbe:
            httpGet:
              path: /api/health
              port: http
          resources:
            limits:
              cpu: 200m
              memory: 200Mi
            requests:
              cpu: 100m
              memory: 100Mi
          volumeMounts:
            - name: grafana-shared-dashboards
              mountPath: /grafana-dashboard-definitions/0
            - mountPath: /var/lib/grafana
              name: grafana-storage
            - mountPath: /etc/grafana/provisioning/datasources
              name: grafana-datasources
            - mountPath: /etc/grafana/provisioning/dashboards
              name: grafana-dashboards
      nodeSelector:
        beta.kubernetes.io/os: linux
      securityContext:
        fsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
      serviceAccountName: grafana
      volumes:
        - name: grafana-shared-dashboards
          emptyDir: {}
        - name: grafana-storage
          emptyDir: {}
        - name: grafana-datasources
          secret:
            secretName: grafana-datasources
        - name: grafana-dashboards
          configMap:
            name: grafana-dashboards
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: grafana
  name: grafana
spec:
  ports:
    - name: http
      port: 3000
      targetPort: http
  selector:
    app: grafana
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: grafana
  name: grafana
spec:
  endpoints:
    - interval: 30s
      port: http
  jobLabel: k8s-app
  namespaceSelector:
    matchNames:
      - monitoring
  selector:
    matchLabels:
      app: grafana
